### TASK 1: CONVERT FOR LOOP TO LIST COMPREHENSION

In [1]:
simple = []
for i in range(10):
    s = i + 30
    simple.append(s)
simple

[30, 31, 32, 33, 34, 35, 36, 37, 38, 39]

In [2]:
print([i+30 for i in range(10)])

[30, 31, 32, 33, 34, 35, 36, 37, 38, 39]

### TASK 2: USE FOR LOOP WITH LIST COMPREHENSION

In [3]:
x= 0
case = []
while x < 10:
    s = "The number is " + str(x)
    case.append(s)
    x += 2
case

['The number is 0',
 'The number is 2',
 'The number is 4',
 'The number is 6',
 'The number is 8']

In [4]:
print(["The number is "+str(x) for x in range(0,10,2)])

['The number is 0', 'The number is 2', 'The number is 4', 'The number is 6', 'The number is 8']

### TASK 3:CONTROL FLOW WITH MODULUS IN LIST COMPREHENSION

In [5]:
print([d**3 for d in range(20) if d %2 == 0 and d > 10])

[1728, 2744, 4096, 5832]

### TASK 4: CREATE TWO NESTED LIST COMPREHENSIONS INSIDE A DICTIONARY

In [6]:
d2 = {"k1": [(g + 20 * g) for g in range(10) if g < 5],
      "k2": [e*e for e in range(20) if e < 10]}
d3 = {"k3": sum(d2["k1"]) + sum(d2["k2"])}
print(d3)

{'k3': 495}