# MPG Cars

### Introduction:

The following exercise utilizes data from [UC Irvine Machine Learning Repository](https://archive.ics.uci.edu/ml/datasets/Auto+MPG)

### Step 1. Import the necessary libraries

In [2]:
import pandas as pd
import numpy as np

### Step 2. Import the first dataset [cars1](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv) and [cars2](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv).

   ### Step 3. Assign each to a variable called cars1 and cars2

In [3]:
cars1 = pd.read_csv('cars1.csv')
cars2 = pd.read_csv('cars2.csv')
cars1.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu,NaN,NaN,NaN,NaN,NaN
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320,NaN,NaN,NaN,NaN,NaN
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite,NaN,NaN,NaN,NaN,NaN
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst,NaN,NaN,NaN,NaN,NaN
4,17.0,8,302,140,3449,10.5,70,1,ford torino,NaN,NaN,NaN,NaN,NaN

In [5]:
cars2.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,33.0,4,91,53,1795,17.4,76,3,honda civic
1,20.0,6,225,100,3651,17.7,76,1,dodge aspen se
2,18.0,6,250,78,3574,21.0,76,1,ford granada ghia
3,18.5,6,250,110,3645,16.2,76,1,pontiac ventura sj
4,17.5,6,258,95,3193,17.8,76,1,amc pacer d/l

### Step 4. Oops, it seems our first dataset has some unnamed blank columns, fix cars1

In [9]:
cars1 = cars1.loc[:, ~cars1.columns.str.match('Unnamed')]

### Step 5. What is the number of observations in each dataset?

In [10]:
print(cars1.shape)
print(cars2.shape)

(198, 9)
(200, 9)

### Step 6. Join cars1 and cars2 into a single DataFrame called cars

In [20]:
cars = pd.concat([cars1,cars2],axis=0,ignore_index=True)

### Step 7. Oops, there is a column missing, called owners. Create a random number Series from 15,000 to 73,000.

In [19]:
owner = np.random.randint(high = 73000,low=15000,size=398,dtype='l')
owner

array([60268, 18516, 20943, 29061, 23772, 30973, 43916, 36060, 15142,
       32032, 27110, 70027, 71686, 44994, 31635, 39840, 67342, 63083,
       39827, 27929, 54094, 28104, 26645, 59787, 21020, 49636, 69762,
       71492, 62362, 29482, 22550, 32097, 56258, 20209, 17357, 48677,
       44898, 70977, 16902, 48162, 62949, 25022, 35700, 41497, 31774,
       30288, 22403, 26344, 70699, 17640, 64758, 52320, 43195, 35114,
       52135, 61292, 56803, 55242, 59383, 64301, 33900, 27672, 16953,
       29590, 38638, 69165, 32180, 33421, 19593, 56170, 53737, 44253,
       44552, 25181, 50977, 21804, 45303, 69827, 41028, 19025, 18948,
       47125, 21510, 46003, 56661, 56513, 26712, 69010, 28933, 19075,
       48106, 16464, 16134, 65580, 53325, 58231, 15829, 48113, 50568,
       64508, 29138, 43785, 19159, 20189, 59281, 54571, 42579, 68597,
       48989, 59386, 37538, 43145, 39103, 25065, 69849, 48820, 36197,
       33844, 51329, 56048, 71524, 62138, 58841, 66866, 22106, 59297,
       66747, 56590, 26374, 36049, 66247, 49115, 23245, 15247, 50202,
       38807, 65408, 46896, 59251, 25091, 62871, 29610, 19762, 63650,
       19804, 32151, 31361, 26186, 65372, 28225, 43828, 37971, 28850,
       30146, 57839, 68976, 65464, 44550, 49142, 26111, 31684, 60702,
       30768, 65769, 45678, 34806, 50554, 58021, 20200, 43798, 15535,
       52455, 67829, 16226, 50684, 49234, 68115, 18751, 52032, 67202,
       68718, 65662, 65678, 56296, 66193, 15765, 46541, 70811, 24981,
       59701, 64205, 34240, 16739, 63974, 36687, 54475, 42723, 47181,
       71121, 52625, 45692, 70580, 49944, 58606, 26824, 27841, 32873,
       69424, 35470, 16205, 37766, 55458, 44244, 40577, 34686, 62323,
       57962, 48588, 32635, 51760, 50706, 48498, 50765, 37245, 34474,
       35268, 49540, 40209, 37959, 51558, 25726, 26862, 21367, 53913,
       42433, 32041, 69277, 17599, 15887, 33312, 45277, 27682, 53529,
       66055, 60462, 70775, 61842, 71578, 48358, 67721, 43401, 63911,
       25152, 59224, 35560, 45363, 63128, 44040, 32176, 47027, 33849,
       37752, 18642, 29204, 36786, 61136, 49944, 71646, 71528, 41078,
       47463, 57137, 44467, 69432, 38788, 48840, 30815, 24132, 29319,
       40265, 64537, 46494, 30901, 19166, 70790, 34211, 70039, 48755,
       65631, 51417, 24935, 60016, 30682, 27946, 40181, 21792, 41671,
       26396, 20217, 31597, 45433, 32593, 49697, 18043, 19402, 15446,
       29295, 59895, 51499, 70366, 39746, 37551, 59296, 34041, 72103,
       48026, 17514, 41661, 72428, 32713, 62389, 36260, 18726, 50024,
       71349, 66204, 36735, 45628, 40166, 50091, 33476, 24030, 36336,
       56838, 52667, 35278, 56736, 46037, 71009, 72347, 72208, 71010,
       29072, 28300, 24736, 53768, 17379, 29422, 44443, 39420, 29240,
       62662, 69632, 31217, 43610, 20899, 21742, 20899, 44139, 42549,
       53857, 70620, 49504, 64429, 22747, 43529, 64038, 47854, 50488,
       72271, 57315, 27085, 42877, 49432, 65861, 67512, 29657, 59033,
       52871, 23386, 64461, 64069, 22064, 60961, 18927, 42715, 17575,
       52994, 29285, 44011, 15083, 44458, 59978, 50960, 40597, 47408,
       18146, 67831])

### Step 8. Add the column owners to cars

In [21]:
cars['owners'] = owner

In [22]:
cars

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car,owners
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu,60268
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320,18516
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite,20943
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst,29061
4,17.0,8,302,140,3449,10.5,70,1,ford torino,23772
...,...,...,...,...,...,...,...,...,...,...
393,27.0,4,140,86,2790,15.6,82,1,ford mustang gl,50960
394,44.0,4,97,52,2130,24.6,82,2,vw pickup,40597
395,32.0,4,135,84,2295,11.6,82,1,dodge rampage,47408
396,28.0,4,120,79,2625,18.6,82,1,ford ranger,18146
397,31.0,4,119,82,2720,19.4,82,1,chevy s-10,67831

In [ ]:
dd