# Housing Market

### Introduction:

This time we will create our own dataset with fictional numbers to describe a house market. As we are going to create random data don't try to reason of the numbers.

### Step 1. Import the necessary libraries

In [2]:
import pandas as pd
import numpy as np

### Step 2. Create 3 differents Series, each of length 100, as follows: 
1. The first a random number from 1 to 4 
2. The second a random number from 1 to 3
3. The third a random number from 10,000 to 30,000

In [10]:
ser1 = pd.Series(np.random.randint(low=1,high=4,size=100,dtype='l'))
ser2 = pd.Series(np.random.randint(low=1,high=3,size=100,dtype='l'))
ser3 = pd.Series(np.random.randint(low=10000,high=30000,size=100,dtype='l'))

### Step 3. Let's create a DataFrame by joinning the Series by column

In [14]:
df = pd.concat([ser1,ser2,ser3],axis=1)

### Step 4. Change the name of the columns to bedrs, bathrs, price_sqr_meter

In [17]:
df.rename(columns={0:'bedrs',1:'bathrs',2:'price_sqr_meter'},inplace=True)

### Step 5. Create a one column DataFrame with the values of the 3 Series and assign it to 'bigcolumn'

In [20]:
bigcolumn = pd.concat([ser1,ser2,ser3],axis=0).to_frame()
bigcolumn

        0
0       2
1       2
2       1
3       3
4       3
..    ...
95  18670
96  11328
97  11180
98  22769
99  10387

[300 rows x 1 columns]

### Step 6. Oops, it seems it is going only until index 99. Is it true?

In [21]:
bigcolumn.count()

0    300
dtype: int64

### Step 7. Reindex the DataFrame so it goes from 0 to 299

In [23]:
bigcolumn.reset_index(drop=True,inplace=True)
bigcolumn

         0
0        2
1        2
2        1
3        3
4        3
..     ...
295  18670
296  11328
297  11180
298  22769
299  10387

[300 rows x 1 columns]