In [2]:
#Import modules
from sqlalchemy import create_engine
from sqlalchemy import text
import urllib

#### Getting Driver name from pyodbc

In [3]:
import pyodbc
pyodbc.drivers()

['SQL Server',
 'Microsoft Access Driver (*.mdb, *.accdb)',
 'Microsoft Excel Driver (*.xls, *.xlsx, *.xlsm, *.xlsb)',
 'Microsoft Access Text Driver (*.txt, *.csv)',
 'SQL Server Native Client 11.0',
 'ODBC Driver 17 for SQL Server']

### Database connection

In [3]:
#database connection varibles
server = 'IN1-GOV-WSQL120.ad-dev.issgovernance.com,4400' # to specify an alternate port
database = 'Jan23TrainingDB18' 
user = 'Jan23TrainingDB18' 
password = 'Jan23TrainingDB18'
# enter driver name replacing space by +
driver = 'ODBC+Driver+17+for+SQL+Server'

#### Method 1: engine creation

* url connection structure: `[DB_TYPE]+[DB_CONNECTOR]://[USERNAME]:[PASSWORD]@[HOST]:[PORT]/[DB_NAME]`

In [5]:
"mssql+pyodbc://{0}:{1}@{2}/{3}?driver={4}".format(user,password,server,database,driver)

'mssql+pyodbc://Jan23TrainingDB18:Jan23TrainingDB18@IN1-GOV-WSQL120.ad-dev.issgovernance.com,4400/Jan23TrainingDB18?driver=ODBC+Driver+17+for+SQL+Server'

In [4]:
engine = create_engine(
    "mssql+pyodbc://{0}:{1}@{2}/{3}?driver={4}".format(user,password,server,database,driver),
    echo=True,
)

#### Method 2: engine creation

In [57]:
params = urllib.parse.quote_plus('DRIVER={ODBC Driver 17 for SQL Server};SERVER='+server+
                                 ';DATABASE='+database+
                                 ';UID='+user+
                                 ';PWD='+ password)

engine = create_engine("mssql+pyodbc:///?odbc_connect=%s" % params)

## Query Creation

### Select Query

In [11]:
result = engine.execute(
    text(
        "SELECT * from production.products"
    )
)
print(f"Selected {result.rowcount} rows.")

2023-01-23 13:20:04,132 INFO sqlalchemy.engine.Engine SELECT * from production.products
2023-01-23 13:20:04,134 INFO sqlalchemy.engine.Engine [cached since 19.2s ago] ()
Selected -1 rows.

In [6]:
list(result._metadata.keys)

['product_id',
 'product_name',
 'brand_id',
 'category_id',
 'model_year',
 'list_price']

In [7]:
list(result.keys()) # gets the column names of the table

['product_id',
 'product_name',
 'brand_id',
 'category_id',
 'model_year',
 'list_price']

In [8]:
count = 0
for row in result.fetchall():
    print(row)
    count+=1
    if count == 10: break

(1, 'Trek 820 - 2016', 9, 6, 2016, Decimal('379.99'))
(2, 'Ritchey Timberwolf Frameset - 2016', 5, 6, 2016, Decimal('749.99'))
(3, 'Surly Wednesday Frameset - 2016', 8, 6, 2016, Decimal('999.99'))
(4, 'Trek Fuel EX 8 29 - 2016', 9, 6, 2016, Decimal('2899.99'))
(5, 'Heller Shagamaw Frame - 2016', 3, 6, 2016, Decimal('1320.99'))
(6, 'Surly Ice Cream Truck Frameset - 2016', 8, 6, 2016, Decimal('469.99'))
(7, 'Trek Slash 8 27.5 - 2016', 9, 6, 2016, Decimal('3999.99'))
(8, 'Trek Remedy 29 Carbon Frameset - 2016', 9, 6, 2016, Decimal('1799.99'))
(9, 'Trek Conduit+ - 2016', 9, 5, 2016, Decimal('2999.99'))
(10, 'Surly Straggler - 2016', 8, 4, 2016, Decimal('1549.00'))

In [12]:
rows = [dict(row) for row in result.fetchall()]

In [13]:
rows[1:5]

[{'product_id': 2,
  'product_name': 'Ritchey Timberwolf Frameset - 2016',
  'brand_id': 5,
  'category_id': 6,
  'model_year': 2016,
  'list_price': Decimal('749.99')},
 {'product_id': 3,
  'product_name': 'Surly Wednesday Frameset - 2016',
  'brand_id': 8,
  'category_id': 6,
  'model_year': 2016,
  'list_price': Decimal('999.99')},
 {'product_id': 4,
  'product_name': 'Trek Fuel EX 8 29 - 2016',
  'brand_id': 9,
  'category_id': 6,
  'model_year': 2016,
  'list_price': Decimal('2899.99')},
 {'product_id': 5,
  'product_name': 'Heller Shagamaw Frame - 2016',
  'brand_id': 3,
  'category_id': 6,
  'model_year': 2016,
  'list_price': Decimal('1320.99')}]

### Insert Query

In [14]:
vt = dict()
vt['product_id'] = 1234 ## not to be passed as the primary key is autoincrement
vt['product_name'] = 'VT'
vt['brand_id'] = 2
vt['category_id'] = 3
vt['model_year'] = 2022
vt['list_price'] = 412

In [15]:
result = engine.execute(
    text(
            "Insert into production.products([product_name],\
            [brand_id],[category_id],[model_year],[list_price]) \
            values('{product_name}',{brand_id},{category_id},{model_year},{list_price})".format(**vt)
    ))
result.rowcount

2023-01-23 13:20:18,164 INFO sqlalchemy.engine.Engine Insert into production.products([product_name],            [brand_id],[category_id],[model_year],[list_price])             values('VT',2,3,2022,412)
2023-01-23 13:20:18,166 INFO sqlalchemy.engine.Engine [generated in 0.00173s] ()
2023-01-23 13:20:18,398 INFO sqlalchemy.engine.Engine COMMIT

1

### Delete Query

In [17]:
result = engine.execute(
    text(
            "Delete from production.products\
            where product_id between 322 and 340"
    ))
result.rowcount

2023-01-23 13:20:54,754 INFO sqlalchemy.engine.Engine Delete from production.products            where product_id between 322 and 340
2023-01-23 13:20:54,756 INFO sqlalchemy.engine.Engine [generated in 0.00210s] ()
2023-01-23 13:20:54,995 INFO sqlalchemy.engine.Engine COMMIT

1

### User Defined function

In [5]:
result = engine.execute(
    text(
        "SELECT dbo.get_max()"
    )
)
print(f"Selected {result.rowcount} rows.")
fetched_results = result.fetchone()
print(fetched_results)

2023-01-27 19:15:14,401 INFO sqlalchemy.engine.Engine SELECT CAST(SERVERPROPERTY('ProductVersion') AS VARCHAR)
2023-01-27 19:15:14,409 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-01-27 19:15:15,899 INFO sqlalchemy.engine.Engine SELECT schema_name()
2023-01-27 19:15:15,899 INFO sqlalchemy.engine.Engine [generated in 0.00125s] ()
2023-01-27 19:15:18,228 INFO sqlalchemy.engine.Engine SELECT CAST('test max support' AS NVARCHAR(max))
2023-01-27 19:15:18,228 INFO sqlalchemy.engine.Engine [generated in 0.00183s] ()
2023-01-27 19:15:19,256 INFO sqlalchemy.engine.Engine SELECT dbo.get_max()
2023-01-27 19:15:19,257 INFO sqlalchemy.engine.Engine [generated in 0.00163s] ()
Selected -1 rows.
('1019',)

In [7]:
result = engine.execute(
    text(
        "Select [order_id],[shipped_date],[store_id],[staff_id] from \
        dbo.getOrders('2016-02-08','2017-12-31') \
        order by [shipped_date];"
    )
)
print(f"Selected {result.rowcount} rows.")
fetched_results = result.fetchall()
count=0
for row in fetched_results:
    print(row)
    count+=1
    if count == 10: break

2023-01-27 19:18:53,691 INFO sqlalchemy.engine.Engine Select [order_id],[shipped_date],[store_id],[staff_id] from         dbo.getOrders('2016-02-08','2017-12-31')         order by [shipped_date];
2023-01-27 19:18:53,691 INFO sqlalchemy.engine.Engine [cached since 9.981s ago] ()
Selected -1 rows.
(63, datetime.date(2016, 2, 9), 2, 7)
(64, datetime.date(2016, 2, 9), 2, 6)
(61, datetime.date(2016, 2, 9), 2, 7)
(62, datetime.date(2016, 2, 10), 1, 2)
(67, datetime.date(2016, 2, 10), 3, 8)
(65, datetime.date(2016, 2, 11), 2, 6)
(69, datetime.date(2016, 2, 11), 2, 7)
(71, datetime.date(2016, 2, 12), 2, 7)
(66, datetime.date(2016, 2, 12), 2, 7)
(68, datetime.date(2016, 2, 13), 2, 6)

In [10]:
result.keys()

RMKeyView(['order_id', 'shipped_date', 'store_id', 'staff_id'])