## BOOLEAN AND COMPARISON OPERATORS

- True:1
- False:0

In [4]:
not False

True

In [7]:
True and True
False and False
True and False
True or False

True

In [8]:
10 == 10
10 != 10
10 != 2
50 == 2

False

In [9]:
200 >= 2001
500 <= 3000

True

In [10]:
10 > 1 and 4 == 4
10 > 1 and 4 != 4

False

In [11]:
var = "house"
var2 = "cinema"
var3 = "temple"

In [12]:
"o" in var

"n" in var
"n" not in var

True

In [13]:
24 >= 20 > 4 == 4 or 50 < 100 >40 != 40

True

In [14]:
"h" in var and "z" not in var3 and 10 > 4 != 50 and 4000 <= 5000

True

In [15]:
print(var, var2, var3)

house cinema temple