## INDEX, SLICE AND STRIDE

In [3]:
robot = "technologically"

console_wars = "playstation is superior, xbox inferior!"

code = "p1y2t3h4o5n6i7c8"

words = "I saw a cat jump over the moon and into the clouds"

new_words = "I saw a cow fly over the gates and into the forest"

paid = "I received a total of $5000"

In [4]:
len(robot)
robot[0:6]
robot[6:]

robot[10:14]

'call'

In [5]:
robot
len(robot)

15

In [6]:
console_wars.endswith("!")
console_wars[0]

len(console_wars)
console_wars[38]

#COUNTING BACKWARDS
console_wars[-1]
console_wars[15:23]

console_wars[15:-16]
console_wars[-24:-16]

'superior'

In [7]:
code
code.replace("1", "").replace("2", "")

'pyt3h4o5n6i7c8'

In [8]:
print(code[0:1] + code[2:3] + code[4:5])
print(code[0::2].upper())

pyt
PYTHONIC

In [9]:
code[1::2]

'12345678'

In [10]:
code[::-1][0::2]

'87654321'

In [11]:
words = "I saw a cat jump over the moon and into the clouds"
words.split()

['I',
 'saw',
 'a',
 'cat',
 'jump',
 'over',
 'the',
 'moon',
 'and',
 'into',
 'the',
 'clouds']

In [12]:
print(words.split())
print(len(words.split()))

['I', 'saw', 'a', 'cat', 'jump', 'over', 'the', 'moon', 'and', 'into', 'the', 'clouds']
12

In [13]:
w_list = words.split()

In [14]:
w_list[3:8:2]

['cat', 'over', 'moon']

In [15]:
w_list[3:12:2][::-2]

['clouds', 'moon', 'cat']

In [16]:
len(w_list)

12

In [17]:
"cat" in w_list
"cat" not in w_list or "dog" not in w_list

True

In [18]:
"dog" in w_list or "cat" in w_list

True

In [19]:
" ".join(w_list)

'I saw a cat jump over the moon and into the clouds'

In [20]:
cow = new_words.split()
cat = words.split()

In [21]:
s1 = slice(3, 12, 2)

In [22]:
cow[s1]
cat[s1]

['cat', 'over', 'moon', 'into', 'clouds']